<template>
    <section class="page">
        <add-repository 
            :show="showAdd"
            :root="root"
            @close="onProjectClose"
            @updated="onProjectUpdated"
            />
        <div class="column-1">
            <n-space vertical size="large" class="treeview">
                <div class="search-box" v-show="!edit">
                    <n-auto-complete
                        :options="auto_options"
                        :on-select="onSelect"
                        class="input"
                        v-model:value="pattern"
                        placeholder="Full text search"
                        size="large"
                        type="text"
                        clearable>
                        <template #prefix>
                            <n-icon size="24" :component="SearchOutlined" />
                        </template>
                        <template #suffix v-if="pattern.length">
                            [{{ result_count }}]
                        </template>
                    </n-auto-complete>
                </div>
                <tree-remote v-if="edit"
                    ref="tree_rem_ref"
                    @fetch="onRenderPage"
                    :root="root"
                    :tree_remote="tree_remote"/>
                <tree-local v-else
                    ref="tree_loc_ref"
                    @fetch="onRenderPage"
                    @nopage="onNoPage"
                    @reset="reset = false"
                    @results="onResults"
                    @select="onSelectNode"
                    @refresh="onRefreshRepository"
                    @reload="onReloadPage"
                    :reset="reset"
                    :pattern="pattern"
                    :root="root"
                    :tree_local="tree_local"/>
                <tree-buttons v-if="isAdmin"
                    :isEditing="edit" 
                    :tree_remote="tree_remote"
                    :tree_local="tree_local"
                    @add="onAddRepository" 
                    @del="onDelRepository" 
                    @edit="onEditRepository" 
                    @done="onDoneRespository"
                    @error="onError"
                    @refresh="onRefreshRepository"
                    @reload="onReloadPage"
                    />
            </n-space>
        </div>
        <div class="column-2">
            <div class="content-wrapper">
                <div class="content" v-if="loading">
                    <span class="message">Loading and pre-processing page, please wait ...</span>
                    <div class="loading">
                        <n-spin :size="128" />
                    </div>
                </div>
                <section class="content" ref="content" v-else>
                    <content :content_html="content_html" :content_api="content_api" :current_node="current_node"  />
                </section>
            </div>
        </div>
    </section>
</template>

<script setup>
import { getCurrentInstance, nextTick, reactive, computed, ref, inject, onMounted, watch } from 'vue';
import { defineStore } from 'pinia';
import { useMessage, NSpace, NInput, NSpin, NIcon, NAutoComplete } from 'naive-ui';
import { SearchOutlined } from '@vicons/material';
import { useCacheStore } from './stores/cacheStore.js';
import { useProjectStore } from './stores/projectStore.js';
import { LocalTree, RemoteTree } from './library/trees.js';
import debounce         from '@/../node_modules/lodash/debounce.js';
import TreeRemote       from './views/TreeRemote.vue';
import TreeLocal        from './views/TreeLocal.vue';
import TreeButtons      from './views/TreeButtons.vue';
import Content          from './views/Content.vue';
import AddRepository    from './widgets/AddRepository.vue';
import Mark             from '@/../node_modules/mark.js';

const namespace         = 'zerodocs'
const plugin            = inject('$orbitPlugin')
const connection        = inject('$connection')
const socket            = ref(null)
const cacheStore        = useCacheStore()
const projectStore      = useProjectStore()
const permissionsStore  = reactive({})
const usersStore        = reactive({})
const authenticated     = computed(() => { return connection.authenticated })
const active            = computed(() => { return socket.value ? socket.value.connected : false })
const tree_local        = new LocalTree(reactive([]))
const tree_remote       = new RemoteTree(reactive([]))
const proj_active       = computed(() => { return projectStore.active })
const cach_active       = computed(() => { return cacheStore.active })
const reset             = ref(false)
const error             = ref(null)
const loading           = ref(false)
const edit              = ref(false)
const showAdd           = ref(false)
const pattern           = ref('')
const current_stamp     = ref(0)
const last_rendered     = reactive({})
const node              = computed(() => { return projectStore.data.get(current_node) || {}})
const isAdmin           = computed(() => { return checkAccess() })
const root              = computed(() => props.opt.router.currentRoute.value.meta.root)
const props             = defineProps(['app', 'opt'])
const tree_loc_ref      = ref()
const tree_rem_ref      = ref()
const content           = ref()
const partial_text      = ref('')
const matches           = ref([])
const result_count      = ref(0)
const mark_instance     = ref(null)
let copy_of_expanded    = null

const cont_map_html     = reactive(new Map())
const cont_map_api      = reactive(new Map())
const curr_map_node     = reactive(new Map())

const content_html = computed({
    get ()      { return cont_map_html.has(edit.value) ? cont_map_html.get(edit.value) : '' },
    set (val)   { cont_map_html.set(edit.value, val) }
})
const content_api = computed({
    get ()      { return cont_map_api.has(edit.value) ? cont_map_api.get(edit.value) : '' },
    set (val)   { cont_map_api.set(edit.value, val) }
})
const current_node = computed({
    get ()      { return curr_map_node.has(edit.value) ? curr_map_node.get(edit.value) : null },
    set (val)   { curr_map_node.set(edit.value, val) }
})

const auto_options = computed(() => {
    return matches.value
})

onMounted(async () => {await plugin (props.opt, namespace, socket)})

watch (pattern, (n,o) => {
    updateHiLite()    
})

watch (authenticated, (n, o) => {if (n && !o) {
    Object.assign(usersStore        , defineStore('usersStore')())
    Object.assign(permissionsStore  , defineStore('permissionsStore')())
}}, {immediate: true})

watch (active, (n, o) => {if (n && !o) {
    cacheStore.init (getCurrentInstance(), root.value, socket.value)
    projectStore.init (getCurrentInstance(), root.value, socket.value)
}}, {immediate: true})

watch (proj_active, (n, o) => {
    if (n && !o) {
        projectStore.populate(root.value, [tree_local.update_root, tree_remote.update_root])
    }
},{immediate: true})

watch (cach_active, async (n, o) => {
    if (n && !o) {
        await nextTick()
        cacheStore.populate(root.value, [tree_local.update_branch, doRefreshPage], (response) => {
            tree_remote.set_checked(Array.from(cacheStore.data, ([k,v]) => v.key)) 
            if (!tree_loc_ref.value.selected.length) {
                tree_loc_ref.value.onClickTreeNode(tree_loc_ref.value.tree[0])
            }
        })
    }
}, {immediate: true})

watch (projectStore.data, (n, o) => {doRenderPage ()}, {deep: true})
watch (pattern, async (n, o) => {
    if (n.length && !o.length) {
        copy_of_expanded = [...tree_local.expanded]
    }
    if (!n.length && o.length) {
        Object.assign(tree_local.expanded, copy_of_expanded)
    }
})

const updateHiLite = debounce(async () => {
    await nextTick()
    if (mark_instance.value)
        mark_instance.value.unmark()
    if (pattern.value.length) {
        const words = pattern.value.split(' ')
        mark_instance.value = new Mark(content.value)
        mark_instance.value.mark(words, {separateWordSearch: true, debug:false, done: countDone})
    }
}, 500)

const countDone = (count) => {
    // console.log("Count=", count)
}

const onSelectNode = (oid) => {
    const node = cacheStore.data.get(oid)
    const new_node = cacheStore.data.get(oid)
    const old_node = current_node
    const new_id = new_node ? new_node._id : null
    const old_id = current_node && current_node.value ? current_node.value._id : null
    if (new_id != old_id && new_id) {
        current_node.value = new_node
        current_stamp.value = null
        mark_instance.value = new Mark(content.value)
        doFetchPage(current_node.value, false, (response) => {
            updateHiLite()
        })
    } else {
        updateHiLite()
    }
}

const onResults = (results) => {
    partial_text.value = results.partial
    matches.value =results.matches
    result_count.value = results.count
}

const onSelect = async (value) => {
    let have = pattern.value
    if (have.length) {
        const index = have.lastIndexOf(' ')
        if (index == -1) have = value
        else have = have.substring(0, index) + ' ' + value
        await nextTick()
        pattern.value = have + ' '
    }
}

const checkAccess = () => {
    if (!usersStore.checkAccess) return false
    return usersStore.checkAccess(namespace, connection.hostid, 'on_project_put')
}
const doRefreshPage = (response) => {
    if (!response.data || !last_rendered.value) {
        return
    }            
    response.data.forEach((data) => {
        if (last_rendered.value.key != data.key) {
            return
        }
        if (data.stamp != current_stamp.value) {
            doFetchPage(data)
        }
    })
}
const doFetchPage = (node, force=false, callback=null) => {
    if (!node.provider) {
        if (callback) callback()
        return
    }
    // if (!node.path) {
    //     content_html.value = '<html><body></body></html>'
    //     return
    // }
    let params = {...node}
    params.modes = ['html', 'api']
    cacheStore.fetch(root.value, params, force, (response) => {
        if (response && response.ok) {
            const key = `${node.provider}|${node.project}|${node.branch}|${node.path}`.toLowerCase()
            current_stamp.value = node.stamp
            current_node.value = cacheStore.path_reverse.get(key)
            loading.value = response.loading
            if (node.label) {
                if (!loading.value) {
                    switch (node.label.toLowerCase()) {
                        case 'license':
                        case 'license.md':
                            content_html.value = '<div class="license">' + response.html + '</div>'
                            break
                        default:
                            content_html.value = response.html
                            break
                    }
                    content_api.value = response.api
                }
            } else {
                log.error("BAD LABEL:", node)
            }
        }
        else error.value = response.error
        if (callback) callback(response)
    })
}
const onRenderPage = (node, force, scroll_id=null, line=0) => {
    let hilite = true
    if (last_rendered.value && node && last_rendered.value._id == node._id) {
        hilite = false
    }
    last_rendered.value = node
    if (!node) {
        content_html.value = '<html><body></body></html>'
        return
    }
    doFetchPage (node, force, async (response) => {
        await nextTick()
        if (line) {
            let html = document.getElementById(`line-no-${line}`)
            if (html) {
                html.scrollIntoView({behavior: 'smooth', block: 'start'})
                return
            }
        }
        if (scroll_id) {
            let html = document.getElementById(scroll_id)
            if (html) html.scrollIntoView({behavior: 'smooth', block: 'start'})
        }
        else {
            let html = document.getElementById('content-pane-html')
            let api = document.getElementById('content-pane-api')
            if (html) {
                html.scrollTo({top: 0, left: 0, behavior: 'smooth'})
            }
            if (api) api.scrollTo({top: 0, left: 0, behavior: 'smooth'})
        }
        if (hilite) updateHiLite()
    })
}
const onError = (message) => {
    error.value = message
}
const onNoPage = () => {
    current_node.value = null
    content_html.value = '<html><body></body></html>'
}
const onAddRepository = () => {
    showAdd.value = true
}
const onDelRepository = () => {
    const node = tree_remote.get_selected()
    if (node) {
        console.log("Delete>", node, tree_remote, projectStore.data)
        projectStore.remove(root.value, node.item, (response) => {        
            if (response && response.ok) {
                message.info('Operation was a Success!')
                const node = tree_remote.get_selected()
                console.log("New NODE: ", node)
            }
            else message.info(`Something went wrong: ${response.error}`)
        })
    }
}
const onEditRepository = () => {
    edit.value = true
}

const onDoneRespository = async () => {
    edit.value = false
    await nextTick()
    if (!tree_loc_ref.value.selected.length) {
        reset.value = true
        return
    }
    const selected = tree_loc_ref.value.selected[0]
    if (!tree_local.find(selected)) {
        tree_loc_ref.value.onClickTreeNode(tree_loc_ref.value.tree[0])
    }
}
const onProjectClose = () => {
    showAdd.value = false
}
const onProjectUpdated = () => {
    showAdd.value = false
    message.success('Project successfully added or updated')
}
const doRenderPage = () => {
    if (!current_node) return
    if (node.stamp != current_stamp.value) {
        doFetchPage (node)
    } else {
        loading.value = false
    }
}

const onRefreshRepository = async () => {
    cacheStore.active = false
    await nextTick()
    const node = tree_remote.get_selected()
    tree_remote.delete_tree(node.item.key, node.item)
    await nextTick()
    projectStore.populate(root.value, [tree_local.update_root, tree_remote.update_root], async (response) => {
        await nextTick()
        tree_remote.sort()
    })
}
const onReloadPage = () => {
    const node = edit ? tree_local.get_selected() : tree_remote.get_selected()
    if (node) doFetchPage(node.item, true)
    else console.log('Error: node not found!')
}

const message = useMessage()
</script>

<style scoped>
section.page {
    flex: 1;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-top-left-radius: 10px;
    background-color: white;
    height: 1px;
    padding-left: 1em;
    padding-top: 1em;
}
section.content {
    height: 100%;
    margin-right: 8px;
    background-color: white;
    flex:1;
}
section.page div.n-tab-pane {
    --n-pane-padding: 6px 0 0 0;
    border-left: 1px solid #7cc5c5;
    border-right: 1px solid #7cc5c5;
    border-bottom: 1px solid #7cc5c5;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 1px;
    flex:1;
}
div.search-box {
    padding-top: 15px;
}

section.content div.html {
    /* all: revert; */
    overflow-y: auto;
    height: 100%;
    padding-left: 8px;;
}
.treeview .n-tree-node-content {
    font-size: 1.1em;
    color: red;
}
.treeview {
    padding: 1em;
    padding-bottom: 0;
    padding-top: 0;
}
.page {
    display: flex;
    flex-direction: row;
}
.page .n-tree, .api-columns .n-input {
    font-size: 1.15em;
}
.page .column-1 {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid  #7cc5c5;
    border-radius: 6px;
    margin-bottom: 12px;
    padding-bottom: 1em;
}
.page .column-1 .treeview {
    height:100%;
    display: flex;
}

.page .column-1 .input {
    flex:0;
}
.page .column-1 .tree {  
    flex:1;
    height:100%;
    border-radius: 8px;
    padding: 4px;
    padding-top: 2px;
}
/* .page .column-1 .tree-edit {  
    flex:1;
    height:100%;
    border-radius: 8px;
    padding: 4px;
    padding-top: 2px;
} */
.page .column-1 .switch{
    flex:0;
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}

.page .column-2 {
    flex: 1;
    margin-right: 0;
    margin: 1em;
    margin-top: 0;
    font-size: 1.15em;
    height: 100%;
    margin-right: 0;
}
</style>

<style>
.content .html .license {
    border: 1px solid cadetblue;
    background-color: rgb(218, 240, 240);
    border-radius: 6px;
    padding: 1em;
    margin-right: 0.5em;
}



.treeview span.poolball {
    color: #666;
    font-weight: 600;
    font-size: 0.7em;
}

.treeview .n-tree-node-content i.method { color: blue; }
.treeview .n-tree-node-content i.property { color: magenta; }
.treeview .n-tree-node-content i.ext-py { color: rgb(14, 168, 14); }
.treeview .n-tree-node-content i.ext-md { color: rgb(139, 85, 13); }
.treeview .n-tree-node-content i.ext-LICENSE { color: rgb(54, 122, 179); }
.treeview .n-tree-node-content i.ext-folder { color: rgb(146, 101, 18); }
.treeview .n-tree-node-content i.ext { color: rgb(250, 18, 18); }
.treeview .n-tree-node-content i.ext-gitlab { color: rgb(209, 70, 5); }

section.page div.n-tabs {
    height:100%;
    display: flex;
}
section.page div.n-tabs-nav {
    --n-tab-border-color: #7cc5c5;
}
.page .column-1 .treeview > div:nth-child(2) {
    flex:1;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.page .column-2 .content {
    height: 100%;
    /* overflow-y: scroll; */
}
.page .column-2 .content-wrapper .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.page .column-2 .content-wrapper .message {
    font-family: "Archivo", sans-serif;
    font-size: 1.2em;
    margin-left: 1.2em;
    margin-top: 0.5em;
}
.page .column-2 .content-wrapper {
    height: 100%;
}
.treeview .n-tree-node-content__text {
    font-family: "Archivo", sans-serif;
    font-size: 1.03em;
}

/* CSS For API Stuff starts here ... */

.docs-article .docs-heading {
    color: teal;
    font-size: 2.8em;
    margin-bottom: 0.25em;
}

.docs-article .section-heading {
    color: teal;
    font-size: 2em;
    margin-bottom: 0.4em;
}

.docs-article .docs-section {
    border-bottom: none;
}

ul .section-items {
    display: none;
}

.package {
    color:  #c00;
}

.docs-nav .section-title {
    margin-bottom: 0!important;
}

.chevron {
    color:  gray;
}

.version {
    color: teal;
    font-size: 0.7em;
    font-weight: 400;
}

pre {
    margin-bottom: 0!important;
}

.container {
    max-width: none!important;
}

div.container {
    padding-left: 1.8em;
    padding-right: 1.8em;
}

.classdef {
    padding-bottom: 0em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    cursor: pointer;
}

.classdef span.keyword {
    font-size: 1.4em;
    text-transform: capitalize;
}

.keyword {
    color: #006699;;
    font-weight: bold;
    font-size: 1.2em;
}

.literal {
    color: teal;
    font-weight: bold;
}

.klass {
    color: #f7621d;
    font-weight: bold;
}

div.classdef span.klass {
    font-size: 1.2em;
}

.return {
    color: #993399;
    font-size: 1.1em;
    font-weight: bold;
}

.var {
    color: green;
    font-weight: bold;
    font-size: 1.1em;
}

.docs-nav {
    padding-top: 0!important;
}

.docs-nav .section-title {
    margin-bottom: 0!important;
}

.methodslabel {
    padding: 0.2em;
    background-color: #827d85;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.params {
    margin-block-start: 0.2em;
    margin-block-end: 0.4em;
}

.param {
    color: green;
    font-weight: 600;
}

.type {
    color: #3366ff;
    font-weight: 600;
}

li {
    color: gray;
    margin-left: 0.em;
}

.paramslabeldiv {
    margin-top: 0.2em;
}

.methodslabeldiv {
    margin-top: 0.5em;
}

.paramslabel {
    background-color: #6699ff;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.method {
    color: #f75b13;
    font-weight: 700;
    cursor:pointer;
}

div.function span.method {
    font-size: 1.2em;
}

.cdef {
    margin-top: 0.2em;
    margin-left: 2em;
}

.function {
    margin-left: 2em;
    padding-top: 0.1em;
}

div.moduledoc div {
    line-height: 1.5em!important;
    margin-top: 0.4em;
}

div.moduledoc {
    border-radius: 8px;
    border: 1px solid teal;
    background-color: #e6f2ff;
    color: teal;
    font-family: monospace;
    margin-left: 0em;
    margin-top: 0em;
    padding-bottom: 1em;
    padding-left: 1.3em;
    padding-right: 1.5em;
    padding-top: 1em;
    text-align: justify;
    white-space: pre-wrap;
    width: 75em;
    word-wrap: normal;
    line-height: 1.1em;
}

div.moduledef {
    padding-top: 0.5em;
    padding-bottom: 1.5em;
}

div.doc-note {
    margin-top: 0.4em;
}

div.docstring {
    margin-top: 0px;
    width: 71.5em;
    border: 1px dotted #aaa;
    border-radius: 6px;
    font-size: 0.9em;
    background-color: #f7f7f7;
    color: #817976;
    font-family: monospace;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: justify;
    white-space: pre-wrap;
    width: 74em;
    word-wrap: normal;
}
.defaultvalue {
    color: #669900;
    font-weight: 700;
}

.docs-wrapper{
    position:relative
}

.docs-sidebar {
    padding-right: 1em;
}

.docs-code-block {
    padding-bottom: 0;
    margin-top: 0.8em;
    margin-bottom: -20px;
}
.docs-code-block .highlight {
    line-height: 1.2em;
    font-size: 1.1em;   
}

.docs-code-block .highlight {
    margin-left: 8px!important;
    padding-top: 0.5em!important;
    padding-bottom: 0.5em!important;
}

.dialogClass {
    border: 5px solid cadetblue;
}
.dialogClass .n-dialog__content {
    background-color: #eee;
    padding: 1em;
    border-radius: 6px;
}
button:focus {
    border: 2px solid green!important;
}
button {
    border: 2px solid transparent!important;
}
.actual-search-text {
    position: absolute;
    color: red;
}
.highlight span.linenos {
    font-size:0.92em;
    line-height:0.92em;
    background-color: #eee;
    color: rgb(97, 170, 253);
    padding-left: 3em;
    padding-right: 10px;
    margin-right: 18px;
}
div.search-box .n-input .n-input__input-el {
    position: relative;
    font-size: 1.1em;
}

section.content div.html h1 {
    font-size: 1.8em;
    font-weight: 600;
    color: teal;
}
section.content div.html h1, section.content div.html h2, section.content div.html h3  {
    font-family: "Amaranth", sans-serif;
}

section.content div.html H2 {
    font-size: 1.4em;
    font-weight: 600;
    color: teal;
}
section.content div.html div.highlight {
    background-color: #eee;
    padding: 1em;
    padding-left: 0.5em;
    border-radius: 10px;
    margin-right: 1em;
    margin-bottom: 0.6em;
}
section.content div.n-tabs div.html div.highlight {
    background-color: white;
    padding: 1em;
    padding-left: 0.5em;
    border-radius: 10px;
    margin-right: 1em;
}
section.content div.html p {
    margin-bottom: 0.8em;
    font-size: 1.15em;
    color: black;
    margin-right: 1em;
}
section.content div.html pre {
    white-space: break-spaces;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 1em;
}
section.content div.html H3 {
    font-size: 1.3em;
    font-weight: 600;
    color: teal;
    margin-bottom: 0.3em;
}
section.content div.html H4 {
    color: #555;
    font-style: italic;
    font-size: 1.1em;
    font-weight: 450;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-left: 8px solid rgb(113, 165, 165);
    padding-left: 0.8em;
}
section.content div.html H5 {
    background-color: rgb(199, 235, 238);
    border: 1px dotted #888;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0.8em;
    margin-right: 1em;
    color: #030101;
    padding: 0.5em;
    border-radius: 6px;
}
section.content div.html A {
    color: blue;
    text-decoration: none;
    font-weight: 500;
}
section.content div.html B {
    text-decoration: none;
    font-weight: 600;
}
section.content div.html U {
    text-decoration: underline;
    font-weight: 500;
}
section.content div.html ul {
    margin-block-end: 1em;
}
section.content div.html ul li {
    font-size: 1.1em;
        font-family: "Archivo", sans-serif;
    color: rgb(12, 64, 161);
}
section.content div.html IMG {
    margin-bottom: 4px;
    margin-right: 8px;
}
section.content div.html strong {
    font-weight: bold;
    color: #333;
}

.n-dialog--bordered.n-modal {
    border-width: thick;
    border-color: cadetblue;
}
.n-button--ghost {
    padding-left: 10px;
}
</style>

<style>
div.v-binder-follower-content div {
    opacity: 0.85;
    font-weight: 500!important;
    color: black;
    font-size: 1.2em;
}
</style>

