<template>
    <n-dialog-provider>
        <n-message-provider placement="bottom-right">
            <ZeroDocsComponent :apt="app" :opt="opt"/>
        </n-message-provider>
    </n-dialog-provider>
</template>

<script>
import { defineComponent, ref } from 'vue';
import { defineStore } from 'pinia';
import { NDialogProvider, NMessageProvider } from 'naive-ui';
import { OrbitComponentMixin } from '@/../node_modules/orbit-component-base';
import ZeroDocsComponent from './ZeroDocsComponent.vue';
import pkg from '../package.json';

const namespace = 'zerodocs'
const mixin = OrbitComponentMixin(namespace, defineStore)
const opt = ref(null)
const app = ref(null)

export default defineComponent({
    components: { ZeroDocsComponent, NDialogProvider, NMessageProvider },
    name: namespace,
    install (vue, options) {
        mixin.install (vue, options, this, app, opt)
    },
    bootstrap () {
        return mixin.bootstrap (pkg.version)
    },
    computed: {
        opt () { return opt },
        app () { return app }
    }
})
</script>



<!-- <script>
import { defineComponent, ref } from 'vue';
import { defineStore } from 'pinia';
import { NDialogProvider, NMessageProvider } from 'naive-ui';
import ZeroDocsComponent from './ZeroDocsComponent.vue';
import pkg from '../package.json';

const router = ref(null)
const component_name = 'zerodocs'

export default defineComponent({
    name: component_name,
    components: { ZeroDocsComponent, NDialogProvider, NMessageProvider },
    install (app, options) {
        app.component('ZeroDocsComponent', this);
        (options.buttons||[]).forEach((button) => {
            options.router.addRoute(button)
            options.menu.push(button)
        })
        router.value = options.router
    },
    computed: {
        router () { return router }
    },
    methods: {
        bootstrap () {
            defineStore('componentsStore')().add(component_name, {version: pkg.version})
        }
    }    
})
</script> -->
