<template>
    <n-tabs v-model:value="tab" default-value="api" type="card" tab-style="min-width: 80px" v-if="has_tabs">
        <n-tab-pane class="tabPane border" key="api" tab="API Docs" name="api" >
            <div class="html" v-html="content_api" id="content-pane-api"/>
        </n-tab-pane>
        <n-tab-pane class="tabPane border" key="src" :tab="current_tab_name" name="src">
            <div class="html" v-html="content_html" id="content-pane-html"/>
        </n-tab-pane>
    </n-tabs>
    <div class="tabPane" id="content-pane-html" v-else>
        <div class="badges" v-if="selected_node">
            <div v-for="url in selected_node.badges">
                <a :href="url[0]" target="_blank"><img class="badge" :src="url[1]" /></a>
            </div>
        </div>
        <div class="html" v-html="content_html"/>
    </div>

</template>

<script>
import { defineComponent, ref } from 'vue';
import { useCacheStore } from '../stores/cacheStore.js';
import { NTabs, NTabPane } from 'naive-ui'

const line = ref(null)

window.zd_gotoSource = function (source_line) {
    line.value = source_line
}


export default defineComponent({
    components: {NTabPane, NTabs},
    props: ['content_html', 'content_api', 'current_node', 'edit'],
    computed: {
        node () { 
            return this.current_node ? this.cacheStore.data.get(this.current_node._id) : {} 
        },
        has_tabs () {
            if (this.node.path && this.node.path.endsWith('.py')) return true
            return false
        },
        current_tab_name () {
            return this.node.label
        },
        selected_node () {
            return this.node
        },
        line () {
            return line
        },
    },
    watch: {
        "line.value": {
            handler (newLine, oldLine) {
                this.tab = 'src'
                const scroll_id = `line-no-${newLine}`
                this.$nextTick(() => {
                    let html = document.getElementById(scroll_id)
                    if (html) html.scrollIntoView({behavior: 'smooth', block: 'start'})
                })
            }
        }
    },
    data () {
        return {
            tab: 'api',
            cacheStore: useCacheStore()
        }
    }
})
</script>

<style scoped>
.badges {
    margin-top: 0.9em;
    float: right;
    text-align: right;
    height: auto!important;
    margin-right: 1em;
    margin-left: 1em;
    padding: 1em;
    border: 2px dotted #ccc;
    border-radius: 10px;
}
.badge {
    margin-left: 0.5em;
}
.tabPane {
    height: 95%;
    overflow-y: auto;
}
.tabPane.border {
    border-left: 1px solid #7cc5c5;
    border-right: 1px solid #7cc5c5;
    border-bottom: 1px solid #7cc5c5;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-left: 0.5em;
    padding-top: 0;
    flex:1;
    margin-bottom: 0.7em;
}
</style>
<style>
#content-pane-api {
    height: 100%;
    overflow-y: auto;
}
#content-pane-html {
    height: 100%;
    overflow-y: auto;
}
section.content .n-tabs-tab__label {
    font-weight: 600;
}
</style>