<template>
    <n-space class="button-bar">
        <menu-button @click="$emit('edit')"      :size="36" width="64px" height="68px" :icon="EditNoteFilled"  text="Edit"    bordered v-if="!isEditing"/>
        <menu-button @click="$emit('done')"      :size="36" width="64px" height="68px" :icon="DoneAllFilled"   text="Done"    bordered v-if="isEditing"/>
        <menu-button @click="$emit('add')"       :size="36" width="64px" height="68px" :icon="AddCircleFilled" text="Add"     bordered v-if="isEditing"/>
        <menu-button @click="$emit('reload')"    :size="36" width="64px" height="68px" :icon="CachedRound"     text="ReLoad"  bordered/>
        <menu-button @click="$emit('refresh')"   :size="36" width="64px" height="68px" :icon="RefreshFilled"   text="Refresh" bordered v-if="rootItem && isEditing"/>
        <menu-button @click="onMenuClick('del')" :size="36" width="64px" height="68px" :icon="DeleteFilled"    text="Delete"  bordered v-if="rootItem && isEditing"/>
    </n-space>
</template>

<script>
import { defineComponent, shallowRef } from "vue";
import { useDialog, useMessage, NSpace } from "naive-ui"
import { EditNoteFilled, CachedRound, DoneAllFilled, AddCircleFilled, DeleteFilled, RefreshFilled } from '@vicons/material'
import MenuButton from '../widgets/MenuButton.vue';

export default defineComponent({
    props: ['isEditing', 'tree_remote', 'tree_local'],
    components: { MenuButton, NSpace },
    computed: {
        node () { return this.tree_remote.get_selected() }, //return this.tree_remote.selected.length ? this.tree_remote.selected[0] : null },
        rootItem () {
            if (this.isEditing) {
                const node = this.tree_remote.get_selected()
                return node && node.item ? !node.item.parent : false
            } else {
                const node = this.tree_local.get_selected()
                return node ? !node.parent : false
            }
        }
    },
    data () {
        const dialog = useDialog()
        const message = useMessage()
        return {
            dialog,
            message,
            EditNoteFilled: shallowRef (EditNoteFilled),
            RefreshFilled: shallowRef (RefreshFilled),
            CachedRound: shallowRef (CachedRound),
            DeleteFilled: shallowRef (DeleteFilled),
            AddCircleFilled: shallowRef (AddCircleFilled),
            DoneAllFilled: shallowRef (DoneAllFilled)
        }
    },
    methods: {
        onMenuClick (button) {
            switch (button) {
                case 'del':
                    if (!this.node.item) {
                        return this.message.error('No project is currently selected!')
                    }
                    if (this.node.item.path) {
                        return this.message.error('Please select a PROJECT rather than a file')
                    }
                    console.log("Node>",this.node)
                    this.dialog.warning({
                        title: 'Remove Project from view',
                        content: `This will remove the project called "${this.node.item.label}" from the view. Are you sure you wish to continue?`,
                        positiveText: 'Remove',
                        negativeText: 'Cancel',
                        closable: false,
                        class: 'dialogClass',
                        onPositiveClick: () => this.$emit('del'),
                        onNegativeClick: () => this.message.info('Operation was Cancelled')
                    })
                    break
            }
        },
    }
})
</script>