<template>
    <n-tree class="tree-edit"
    :data="tree"
    :on-load="onLoad"
    :render-suffix="renderSuffix"
    :show-irrelevant-nodes="false"
    :checkable="true"
    :on-update:selected-keys="onUpdateSelected"
    :on-update:expanded-keys="onUpdateExpanded"
    :on-update:checked-keys="onUpdateChecked"
    :expanded-keys="expanded"
    :selected-keys="selected"
    :checked-keys="checked"
    check-strategy="child"
    block-line
    expand-on-click
    draggable
    accordion
    :expand-on-dragenter="false"
    :allow-drop="(info) => !info.node.path && info.dropPosition == 'inside'"
    @drop="onDropHandler"
    />
</template>

<script>
import { defineComponent, h } from 'vue';
import { mapWritableState } from 'pinia';
import { useCacheStore } from '../stores/cacheStore.js'
import { useProjectStore } from '../stores/projectStore.js'
import { NTree } from 'naive-ui'

const difference = (a, b) => new Set([...a].filter(x => !b.has(x)))

export default defineComponent({
    components: {NTree},
    props: ['root', 'tree_remote'],
    created () {
        this.cacheStore = useCacheStore()
        this.projectStore = useProjectStore()
    },
    mounted () {
        if (!this.selected.length) {
            if (this.tree.length) {
                this.onUpdateSelected([this.tree[0].key])
            }
        }
        if (!this.expanded.length && this.tree.length) {
            this.onUpdateExpanded([this.tree[0].key], null, {action: 'expand', node: {key: this.tree[0].key}})
        }
    },
    data () {
        return {
            cacheStore: null,
            projectStore: null,
            loading: false,
        }
    },
    computed: {
        ...mapWritableState(useProjectStore, {
            lookup: 'key_reverse',
        }),
        ...mapWritableState(useCacheStore, {
            api_data: 'data',
        }),
        tree: {
            get ()  { return this.tree_remote.tree },
            set (v) { this.tree_remote.tree = v }
        },
        checked: {
            get ()  { return this.tree_remote.checked },
            set (v) { this.tree_remote.checked = v }
        },
        selected: {
            get ()  { return this.tree_remote.selected },
            set (v) { this.tree_remote.selected = v }
        },
        expanded: {
            get ()  { return this.tree_remote.expanded },
            set (v) { this.tree_remote.expanded = v }
        }
    },
    methods: {
        arrayMove (arr, srcIdx, dstIdx) {
            const item = arr[srcIdx]
            arr.splice(srcIdx, 1)
            arr.splice(dstIdx, 0, item)
        },
        onDropHandler ({node, dragNode, dropPosition}) {
            let i_node = this.tree.map((item) => item._id).indexOf(node._id)
            let i_drag = this.tree.map((item) => item._id).indexOf(dragNode._id)
            this.arrayMove(this.tree, i_drag, i_node)
            this.projectStore.renumber(this.root, this.tree.map((item) => item._id))
        },
        onUpdateSelected (keys) {
            if (keys.length) {
                this.selected.length = 0
                this.selected.push(...keys)
                const key = keys[0]
                const item = this.lookup.get(key)
                this.$emit('fetch', item)
                if (item && !this.checked.includes(key)) this.checked.push(key)
            }
        },
        onUpdateExpanded (keys, node, meta) {
            if (meta.action == 'expand') {
                if (!this.expanded.includes(meta.node.key)) this.expanded.push(meta.node.key)
            }
            if (meta.action == 'collapse') {
                const index = this.expanded.indexOf(meta.node.key)
                this.expanded.splice(index, 1)
            }
        },
        onLoad (node) {
            return new Promise((resolve) => {
                node.children = []
                this.cacheStore.get_api_remote(this.root, node, (response) => {
                    response.data.forEach(item => {
                        item.root = this.root
                        node.children.push(item)
                        this.lookup.set(item.key, item)
                    })
                    resolve()
                })
                return true
            })
        },
        onUpdateChecked (keys) {
            const new_keys = difference(new Set(keys), new Set(this.tree_remote.checked))
            const old_keys = difference(new Set(this.tree_remote.checked), new Set(keys))
            this.tree_remote.checked.splice(0, this.checked.length, ...keys)
            let new_data = []
            let old_data = []
            new_keys.forEach(key => new_data.push(this.lookup.get(key)))
            old_keys.forEach(key => old_data.push(this.lookup.get(key)))
            this.cacheStore.update(this.root, old_data, new_data)
            if (new_data.length) {
                this.$emit('fetch', new_data[0])
            }
        },
        renderSuffix ({option}) {
            return h('span', {class: 'poolball'}, option.children && option.children.length ? option.children.length : ' ')
        },
    },
})
</script>

<style scoped>
.page .column-1 .tree-edit {  
    flex:1;
    height:100%;
    border-radius: 8px;
    padding: 4px;
    padding-top: 2px;
}
</style>