<template>
    <n-tree class="tree"
        :data="tree"
        :show-irrelevant-nodes="false"
        :selected-keys="selected"
        :expanded-keys="expanded"
        :node-props="nodeProps"
        :render-suffix="renderSuffix"
        :pattern="pattern"
        :filter="filter"
        key-field="_id"
        block-line/>
</template>

<script>
import { defineComponent, h, nextTick } from 'vue';
import { mapWritableState } from 'pinia';
import { useCacheStore } from '../stores/cacheStore.js'
import { NTree } from 'naive-ui'

export default defineComponent({
    components: {NTree},
    props: [
        'pattern',
        'root',
        'tree_local',
        'reset'
    ],
    created () {
        this.cacheStore = useCacheStore()
    },
    data () {
        return {
            cacheStore: null,
            oids: [],
            nodeProps: ({option}) => {
                const self = this
                return { onClick () { self.onClickTreeNode (option) }}
            },
        }
    },
    watch: {
        reset: {
            handler (newState) {
                if (newState) {
                    this.selected.length = 0
                    this.$emit('reset')
                }
            }, immediate: true
        },
        pattern: {
            handler (newText) {
                this.refreshSearch (newText)
            }
        }
    },
    computed: {
        ...mapWritableState(useCacheStore, {
            api_data: 'data',
            path_forward: 'path_forward',
            path_reverse: 'path_reverse',
        }),
        tree: {
            get ()  { return this.tree_local.tree },
            set (v) { this.tree_local.tree = v }
        },
        selected: {
            get ()  { return this.tree_local.selected },
            set (v) { this.tree_local.selected.length = 0; this.tree_local.selected.push(v) }
        },
        expanded: {
            get ()  { return this.tree_local.expanded },
            set (v) { this.tree_local.expanded = v }
        },
        cache_data: {
            get () { return this.cacheStore ? this.cacheStore.data : new Map() }
        },
    },
    methods: {
        expandUp (nodes) {
            const parents = new Set()
            nodes.forEach((id) => {
                const node = this.tree_local.index.get(id)
                if (node) {
                    if (!node.item.path.endsWith('.py')) {
                        this.expanded.push(node.item._id)
                    }
                    if (node.parent) {
                        if (!parents.has(node.parent._id)) {
                            parents.add(node.parent._id)
                            this.expanded.push(node.parent._id)
                        }
                    }
                }
            })
            if (parents.length) this.expandUp (parents)
        },

        refreshSearch (newText) {
            // FIXME: debounce here
            // console.log("Debouce refresh")
            this.cacheStore.search(this.root, newText, async (response) => {
                this.oids = response.ids ? response.ids : []
                let results = {
                    partial: [],
                    matches: [],
                    count: 0
                }
                if (response.partial) {
                    results = {
                        partial: response.partial.join(' '),
                        matches: response.matches,
                        count: response.ids ? response.ids.length : 0
                    }
                }
                this.$emit('results', results)
                if (response.ids && response.ids.length) {
                    this.selected = response.ids[0]
                    await nextTick()
                    this.expanded.length = 0
                    this.expanded.push(this.tree[0]._id)
                    this.expandUp (response.ids)
                    this.$emit('select', response.ids[0])

                }
            })
        },
        filter (pattern, node) {
            return this.oids.includes(node._id)
        },
        expandOrContract (key) {
            if (!this.expanded.includes(key)) {
                this.expanded.push(key)
            } else {
                let index = this.expanded.indexOf(key)
                if (index != -1) delete this.expanded[index]
            }
        },
        onClickTreeNode (clickNode, force=false) {
            if (!clickNode) {
                console.log("Asked to click on null node")
                return
            }
            let node, entry = this.tree_local.get(clickNode._id)
            if (!entry) {
                if (clickNode.parent) {
                    // console.log("Here1>", clickNode)
                    node = this.tree_local.get(clickNode.parent)
                    if (node) {
                        this.$emit('fetch', node.item, force, clickNode.uri, clickNode.line)
                        this.selected = [clickNode._id]
                        return
                    }
                }
                console.log("Unable to determine node:", clickNode)
                return
            }
            node = entry.item
            const isSelected = this.selected.includes(node._id)
            const isExpanded = this.expanded.includes(node._id)
            if (isSelected && !force) {
                return this.expandOrContract(node._id)
            }
            if (!isExpanded || (!isSelected && !isExpanded)) {
                this.expandOrContract(node._id)
            }
            this.selected = node._id
            if (node.isLeaf) {
                if (node.path) {
                    return this.$emit('fetch', node, force)
                }
                return this.$emit('nopage')
            }
            const wanted = `${node.provider}|${node.project}|${node.branch}|${node.path}`.toLowerCase()
            const rnode = this.api_data.get(this.path_reverse.get(wanted))
            if (rnode && rnode.etag) {
                return this.$emit('fetch', node, force)
            }
            if (!node.isLeaf) {
                const branch = node.branch || entry.parent.branch
                const path = `${node.provider}|${node.project}|${branch}|${node.path ? node.path + '/': ''}README.md`.toLowerCase()
                let new_node = this.path_reverse.get(path)
                if (new_node) {
                    this.$emit('fetch', new_node, force)
                    return
                } else {
                    if (node.path && node.path.endsWith('.py')) {
                        const path = `${node.provider}|${node.project}|${node.branch}|${node.path}`.toLowerCase()
                        new_node = this.path_reverse.get(path)
                        if (new_node) {
                            return this.$emit('fetch', new_node, force)
                        }
                    }
                    return this.$emit('nopage')
                }
            }
            console.log('Fell off the end, store>', this.path_reverse, this.cache_data)
        },
        renderSuffix ({option}) {
            return h('span', {class: 'poolball'}, option.children && option.children.length ? option.children.length : ' ')
        },
    },
})
</script>

<style scoped>
</style>